body {
	user-select: none;
}

h1, h2, h3, p, a {
	color:  black;
	font-family: Consolas;
	text-align: center;
}

.divider {
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	height: 5px;
	background: black;
}

#coddy-article {
	margin-top: 100px;
}
#coddy-link {
	margin-bottom: 50px;
}