body {
	user-select: none;
}

h1, h2, h3, p, a {
	color:  black;
	font-family: Consolas;
}

#logo {
	text-align: center;
}
#underlogo {
	text-align: center;
}
.divider {
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	height: 5px;
	background: black;
}

.arrow {
	text-align: center;
}

#coddy-article {
	margin-top: 100px;
	text-align: center;
}
#coddy-description {
	text-align: center;
}